http://help.github.com/ignore-files/

# System Files
.DS_Store
Thumbs.db


# tooling / brainstorm scratch
.superpowers/
.claude/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.DS_Store
