@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow");



/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
	strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	#vid {
	  position: fixed;
	}

	#vide video {
		height: 100% !important;
	}


	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}



/* Section/Article */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	header > p {
		color: #aaa;
	}

/* Image */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}




/* Icons */

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Nav */

	#nav a {
		position: relative;
		display: inline-block;
		color: #ffffff;
		width: 1em;
		height: 1em;
		line-height: 0.9em;
	}

		#nav a.icon:before {
			padding-right: 0;
		}

/* Panels */

	#main {
		position: relative;
		overflow: hidden;
	}



/* Footer */

	#footer {
		color: #ccc;
		color: rgba(255, 255, 255, 0.45);
	}

		#footer a {
			color: #ddd;
			color: rgba(255, 255, 255, 0.65);
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}

			#footer a:hover {
				color: white;
			}

		#footer .copyright li {
			display: inline-block;
		}

			#footer .copyright li:before {
				display: inline;
				content: '\2022';
				opacity: 0.5;
				padding: 0 0.75em 0 0.75em;
			}

			#footer .copyright li:first-child:before {
				display: none;
			}

/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			html {
				min-width: 100%;
				min-height: 100%;
			}

			body {
				width: 100%;
				min-width: 1000px;
				min-height: 100%;
				overflow-y: scroll;
				background-attachment: fixed;
				font-size: 14pt;
				line-height: 1.75em;
			}

			input, textarea, select {
				font-size: 14pt;
				line-height: 1.75em;
			}

			h1 {
				font-size: 2.4em;
				letter-spacing: -0.015em;
			}

			h2 {
				font-size: 1.8em;
				letter-spacing: -0.015em;
			}

			h3, h4, h5, h6 {
				font-size: 1.25em;
				letter-spacing: -0.015em;
			}

		/* Section/Article */

			header {
				margin: 0 0 1.5em 0;
			}

				header > p {
					margin: 0.5em 0 0 0;
				}



		/* Wrapper */

			#wrapper {
				width: 45em;
				margin: 0 auto;
				opacity: 0.00001;
			}

				#wrapper.tall {
					padding-bottom: 6em;
				}

		/* Nav */

			#nav {
				text-align: center;
				height: 4.25em;
				cursor: default;
			}

				#nav a {
					font-size: 2.5em;
					margin: 0 0.25em 0 0.25em;
					opacity: 0.35;
					outline: 0;
					-moz-transition: opacity .25s ease-in-out;
					-webkit-transition: opacity .25s ease-in-out;
					-ms-transition: opacity .25s ease-in-out;
					transition: opacity .25s ease-in-out;
				}

					#nav a:before {
						font-size: 0.8em;
					}

					#nav a:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: -0.75em;
						margin-left: -0.5em;
						border-bottom: solid 0em #ffffff;
						border-left: solid 0.5em transparent;
						border-right: solid 0.5em transparent;
						-moz-transition: border-bottom-width .25s ease-in-out;
						-webkit-transition: border-bottom-width .25s ease-in-out;
						-ms-transition: border-bottom-width .25s ease-in-out;
						transition: border-bottom-width .25s ease-in-out;
					}

					#nav a span {
						display: block;
						position: absolute;
						background: #222222;
						color: #ffffff;
						top: -2.75em;
						font-size: 0.3em;
						height: 2.25em;
						line-height: 2.25em;
						left: 50%;
						opacity: 0;
						-moz-transition: opacity .25s ease-in-out;
						-webkit-transition: opacity .25s ease-in-out;
						-ms-transition: opacity .25s ease-in-out;
						transition: opacity .25s ease-in-out;
						width: 5.5em;
						margin-left: -2.75em;
					}

						#nav a span:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -0.4em;
							left: 50%;
							margin-left: -0.6em;
							border-top: solid 0.6em #222222;
							border-left: solid 0.6em transparent;
							border-right: solid 0.6em transparent;
						}

					#nav a:hover {
						opacity: 1.0;
					}

						#nav a:hover span {
							opacity: 1.0;
						}

					#nav a.active {
						opacity: 1.0;
					}

						#nav a.active:after {
							border-bottom-width: 0.5em;
						}

		/* Panels */

			#main {
				width: 45em;
				background: #ffffff;
				box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
			}

			.panel {
				padding: 3.5em 2.5em 3.5em 2.5em;
				position: absolute;
				top: 0;
				left: 0;
				width: 45em;
			}

		/* Me */

			#me {
				padding: 0;
				height: 20em;
			}

				#me .pic {
					display: block;
					position: absolute;
					right: -1px;
					top: 0;
					height: 100%;
					text-decoration: none;
				}

					#me .pic img {
						position: relative;
						display: block;
						height: 100%;
					}

					#me .pic .arrow {
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -1.375em;
						width: 2.75em;
						height: 2.75em;
						background: #000;
						background: rgba(0, 0, 0, 0.75);
						color: #ffffff;
						text-align: center;
						line-height: 2.75em;
						font-size: 1.5em;
						z-index: 1;
						-moz-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						-webkit-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						-ms-transition: width .15s ease-in-out, padding-right .15s ease-in-out;
						transition: width .15s ease-in-out, padding-right .15s ease-in-out;
					}

						#me .pic .arrow:before {
							position: relative;
							padding-right: 0;
							top: 0.125em;
						}

						#me .pic .arrow span {
							display: block;
							text-indent: -9999px;
						}

					#me .pic:hover .arrow {
						width: 3em;
						padding-right: 0.25em;
					}

				#me header {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					margin-left: 2.5em;
				}

					#me header > h1 {
						position: absolute;
						left: 0;
						bottom: 52.5%;
						margin: 0;
					}

					#me header > p {
						position: absolute;
						left: 0;
						top: 52.5%;
						font-size: 1.5em;
						letter-spacing: -0.015em;
						margin-top: 0;
					}
					#me header > a.link {
						position: absolute;
						left: 0;
						top: 65%;
						font-size: 1.0em;
						letter-spacing: -0.015em;
						margin-top: 0;
						color: dodgerblue;
					}

					#me header > a.link:hover {
						color: green;
						transform: skew(-20deg);
					}

		/* Footer */

			#footer {
				text-align: center;
				padding: 2em 0 0 0;
				font-size: 0.75em;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
				line-height: 1.75em;
			}

			h1, h2 {
				font-size: 1.75em;
				letter-spacing: -0.025em;
			}

			h3, h4, h5, h6 {
				font-size: 1.25em;
				letter-spacing: -0.025em;
			}

		/* Section/Article */

			header {
				margin: 0 0 1.5em 0;
			}

				header > p {
					margin: 0.5em 0 0 0;
				}

		/* Table */

			table.style1 {
				overflow-x: scroll;
			}

		/* List */

			ul.actions li {
				display: block;
				margin: 0.5em 0 0 0;
			}

				ul.actions li:first-child {
					margin-top: 0;
				}


		/* Wrapper */

			#wrapper {
				padding: 7px;
			}

		/* Nav */

			#nav {
				text-align: center;
				margin: 6px 0 8px 0;
			}

				#nav a {
					font-size: 2em;
					opacity: 0.5;
					outline: 0;
					width: 1.5em;
					height: 1.5em;
					line-height: 1.35em;
					margin: 0 0.25em 0 0.25em;
				}

					#nav a:active {
						opacity: 1.0;
					}

					#nav a span {
						display: none;
					}

		/* Panels */

			#main {
				background: none;

			}

			.panel {
				padding: 15px 15px 15px 15px;
				margin: 0 0 7px 0;
				background: #ffffff;
				box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
			}

				.panel header {
					padding-top: 1em;
				}

		/* Me */

	article#me .panel {
	border-radius: 10px;

}

			#me .pic {
				width: 100%;
			}

				#me .pic img {
					display: block;
					width: 100%;
				}

				#me .pic .arrow {
					display: none;
				}

			#me header {
				text-align: center;
			}

				#me header > h1 {
					font-size: 2.15em;
					letter-spacing: -0.025em;
				}

				#me header > p {
					font-size: 1.25em;
				}


		/* Footer */

			#footer {
				text-align: center;
				padding: 2em 0 0 0;
				font-size: 0.85em;
			}

				#footer .copyright li {
					display: block;
				}

					#footer .copyright li:before {
						display: none;
					}


			 #contact .container {
				width: 100%;
			}

		.map iframe {
			width: 30%;
		}

		.contact-info {
			font-size: 1em;
			width: 50%;
		}
	}

	.typewritter p {

	font-family: serif;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .10em solid orange; /* The typwriter cursor */
	white-space: pre-line; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation:
	typing 3.5s steps(30, end),
	blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}





.contact-info {
	border: 1px solid black;
	width: 350px;
	height: 320px;
	float:right;
	padding-left: 15px;
	margin-right: 350px;
	border-radius: 10px;
	padding-top: 10px;
}

.hi {
	text-align: center;
}

img.here {
	width: 379px;
	height: 349px;
	float: left;
}

.container-other {
	padding-top: 126px;
}

.mean-stack {
	float: right;
	width: 35%;
	position: relative;
	left: 250px;
	bottom: 315px;
}

.other-stack {
	float: right;
width: 260px;
position: relative;
right: 300px;
bottom: 335px
}

.progress-bar.color1 {
	background-color: green !important;
}

.progress-bar.color2 {
	background-color: orange !important;
}

.progress-bar.color3 {
	background-color: dodgerblue !important;
}

.progress-bar.color4 {
	background-color: #993383 !important;
}

.progress-bar.color5 {
	background-color: #BB3E3E !important;
}

.progress-bar.color6 {
	background-color: purple !important;
}

.progress-bar.color7 {
	background-color: #22672F !important;
}

.progress-bar.color8 {
	background-color: #2B6282 !important;
}

.fa-phone:before {
	color: forestgreen;
}

.fa-envelope:before {
	color: #0A639F;
}

.fa-download:before {
	color: #0A639F;
}

.fa-home.contact:before {
	color: #0A639F;
}


.contact-info {
	box-shadow: 2px 3px 4px #000000;
}


/*work stuff*/

.toolbar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.btn {
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid #337AB7 !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  vertical-align: middle;
  -webkit-appearance: none;
  color: #1E90FF;
  background-color: white;
  color: #1E90FF;
}
.btn:hover {
  text-decoration: none;
  background-color: #337AB7;
  color: white !important;
}

.workk figure {
	float: left;
  margin: 20px;
  width: 225px;
  height: 240px;
  line-height: 200px;
  -webkit-filter: sepia(0.4);
  position: relative;
  padding: 0 !important;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);

  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
}

.workk figure a img {
    height: 100%;
    width: 100%;
}

.workk figure dt {
	text-align: center;
}

.workk h3 {
	text-align: center;
}

.workk a {
	color: gold !important;
}

.workk dd a.test {
	color: white !important;
}

.workk figure dl {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    margin: 0;
    line-height: 2.5;
    background: rgba(0, 0, 0, 0.8);
    color: white;

    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
}

.workk figure:hover dl {
    opacity: 1;
}

.workk figure dl dt {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow';
    font-size: 12px;
    margin-bottom: -16px;
}

.workk figure dl dd {
    margin-left: 0;
		font-size: 14px;
		margin-top: 20px;
}
